#
# Use this file to configure RDS Backup Lambda function
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Copy to "terraform.tfstate" and fill in your Variables
#  set AWS Region & Keys  here or set via environment variables

# AWS related variables

#AWS_ACCESS_KEY    = "XXXXXXXXXXXXXXX"
#AWS_SECRET_KEY    = "YxYxYxYxYxYxYxYxYxYxYxYxYxYxYxYxY"
AWS_REGION        = "eu-central-1"

# RDS related Variables

AWS_SOURCE_REGION = "eu-central-1"
AWS_DEST_REGION   = "eu-west-1"
SOURCE_DB         = "Your-DB-Instance-Identifier-Here"

# general Variables for the Lambda function

KEEP              = 5        # how many copies should be kept in backup region
cron_expression   = "30 2 * * ? *"    # run daily at 2.30am (check AWS documentation for your own configuration)
